body {
    width: 100%;
    /* display: flex;
    justify-content: space-between;
    align-items: start; */
}



/* TABLEAU DES DONNÉES */
table {
    width: 66%;
    margin-left: 20px;
    color: white;
    font-family: sans-serif;
    font-weight: 500;
    border-spacing: 3px;
    height: 80%;
    margin-right: 26%;
}

th,
td {
    padding: 6px;
    text-align: left;
    background-color: #ffffff44;
}

th {
    background-color: #ffffff22;
    font-weight: bold;
    color: rgb(0, 225, 255);
    text-align: center;
}

td > a {
    display: table-cell;
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* FORMULAIRE DE SOUMISSION */
form {
    margin-right: 20px;
    width: 200px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

label {
    color: white;
    font-family: sans-serif;
    margin-bottom: -10px;
    background-color: #ffffff22;
    padding: 5px;
}

input, select {
    padding: 7px;

}

input[type="submit"] {
    background: linear-gradient(to top, rgb(0, 90, 236), rgb(0, 176, 240));
    padding: 15px;
    border: none;
    box-shadow: 0px 5px 10px 0px #00000088,0px -10px 10px -5px #00000000, inset 0px -20px 20px #00000000;
    cursor: pointer;
    color: white;
    margin-top: 20px;
    background: linear-gradient(to top, rgb(0, 69, 181), rgb(0, 176, 240));
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0px;
    transition: all 0.5s;
}

input[type="submit"]:hover {
    letter-spacing: 5px;
    border-radius: 25px;
    box-shadow: 0px 10px 20px 5px #00eaff88, 0px -10px 10px -5px #0056f4aa, inset 0px -20px 20px rgb(22, 255, 255);
}